# Rename me to '.env' :)

# Secret stuff
DJANGO_SECRET_KEY=thisalsohastobesecret:x

# Database
DB_NAME=adopta
DB_USER=youruser
DB_PASSWORD=yoursupersecretpassword
DB_HOST=pgdb
DB_PORT=5432

# Email
DJANGO_DEFAULT_FROM_EMAIL=your@email.com
DJANGO_EMAIL_SUBJECT_PREFIX=your_subject_prefix
DJANGO_SERVER_EMAIL=your@email.com
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_EMAIL_HOST=smtp.google.com
EMAIL_USER=your@email.com
EMAIL_PASSWORD=your_password
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
SOCIAL_ENABLED=False

GOOGLE_MAPS_API_KEY=yourapikey
