# Rename me to '.env.dev' :)

# Secret stuff
DJANGO_SECRET_KEY=thisalsohastobesecret:x

# Database
DB_NAME=db
DB_USER=user
DB_PASSWORD=password
DB_HOST=127.0.0.1
DB_PORT=2345

# Email
DJANGO_DEFAULT_FROM_EMAIL=your@email.com
DJANGO_EMAIL_SUBJECT_PREFIX=your_subject_prefix
DJANGO_SERVER_EMAIL=your@email.com
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_EMAIL_HOST=smtp.google.com
EMAIL_USER=your@email.com
EMAIL_PASSWORD=your_password
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
SOCIAL_ENABLED=False
