{% extends 'main/base.html' %}
{% load adoptions_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/fl-info.css' %}" />
{% endblock %}
{% block content %}
<style>
.btn {
    color: black;
}
.info-modal:target {
  z-index: 11111;
  opacity: 1;
  pointer-events: auto;
}
</style>
<div class="main-panel">
    <article>
        <img src="">
        <h2>Soy una asociación</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut itaque omnis minima. Illo molestiae rerum ducimus ea voluptatibus quasi nulla molestias earum. Neque ipsa molestiae, unde nobis repellendus, quo ut.</p>
        <a class="btn dark" style="color: black" href="#organisation">Añadir información de contacto</a>
    </article>
    <article>
        <img src="">
        <h2>Soy un usuario</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut itaque omnis minima. Illo molestiae rerum ducimus ea voluptatibus quasi nulla molestias earum. Neque ipsa molestiae, unde nobis repellendus, quo ut.</p>
        <a class="btn dark" style="color: black" href="#user">Añadir información de contacto</a>
    </article>
</div>
{% endblock %}
{% block modal %}
<aside id="organisation" class="info-modal">
    <div class="info-modal-content">
        <header>
            <h2>Información de la asociación</h2>
            <a class="btn-close" href="#">x</a>
        </header>
        {% include 'main/organisation-info-form.html' %}
    </div>
</aside>

<aside id="user" class="info-modal">
    <div class="info-modal-content">
        <header>
            <h2>Información del usuario</h2>
            <a class="btn-close" href="#">x</a>
        </header>
        {% include 'main/user-info-form.html' %}
    </div>
</aside>


{% endblock %}
