<footer class="footer">
      <div class="footer-social">
          <span>&copy;{{ COPYRIGHT }}</span>
          <span>Puedes seguirnos en redes sociales: </span>
          <ul>
              <li>
                  <a href="#">
                      <i class="fa fa-facebook"></i>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <i class="fa fa-twitter"></i>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <i class="fa fa-instagram"></i>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <i class="fa fa-linkedin"></i>
                  </a>
              </li>
              <li>
                  <a href="https://github.com/pablius93/adoptaweb">
                      <i class="fa fa-github"></i>
                  </a>
              </li>
          </ul>
      </div>
</footer>
