<footer class="footer">
    <div class="footer-container">
        <div class="footer-info">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque perferendis aut enim adipisci? Harum possimus molestiae, ut aperiam in, a vero! Iusto quidem distinctio adipisci, voluptatem minima cumque rem explicabo.
        </div>
        <div class="footer-contact">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque perferendis aut enim adipisci? Harum possimus molestiae, ut aperiam in, a vero! Iusto quidem distinctio adipisci, voluptatem minima cumque rem explicabo.
          <br>
            {{ COPYRIGHT }}
        </div>
        <div class="footer-social">
            <span>Puedes seguirnos en redes sociales: </span>
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-facebook"></i>Facebook
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-twitter"></i>Twitter
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-instagram"></i>Instagram
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-linkedin"></i>Linkedin
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-github"></i>Github
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
