<nav id="sidebar" class="sidebar">
    <header>
        <i class="fa fa-user-circle"></i><a href="" id="username">{{ request.user.username }}</a>
    </header>
    <ul>
        <li><a class="side-item" href="#"><i class="fa fa-home"></i>Inicio</a></li>
        <li><a class="side-item" href="#"><i class="fa fa-hospital-o"></i>Protectoras de animales</a></li>
        <li><a class="side-item" href="#"><i class="fa fa-search"></i>Buscador de mascotas</a></li>
        <li><a class="side-item" href="#"><i class="fa fa-group"></i>Colaborar</a></li>
        <li><a class="side-item" href="#"><i class="fa fa-comment"></i>Contacto</a></li>
        <li><a class="side-item" href="#"><i class="fa fa-institution"></i>Acerca de</a></li>
    </ul>
</nav>
