<form action="{% url 'main:create_user_info' %}" method="post">
    {% csrf_token %}
    <label for="user-complete-name">Nombre completo</label><br>
    {{ user_info_form.complete_name }}<br>
    <label for="user-address">Dirección</label><br>
    {{ user_info_form.address }}<br>
    <label for="user-town">Localidad</label><br>
    {{ user_info_form.town }}<br>
    <label for="user-phone-number">Número de teléfono</label><br>
    {{ user_info_form.phone_number }}<br>
    {{ user_info_form.organisation }}<br>
    <input class="btn dark" type="submit" value="Guardar"><br>
</form>
